<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div align="left">
    	<ul>
    		<li><a href="/input">请假申请</a></li>
    		<li><a href="/list">部署流程</a></li>
    	</ul>
    </div>
     <div align="center">
    	<ul>
    		<li>请假申请<a href="http://www.baidu.com"></a></li>
    		<li>部署流程<a href="http://www.baidu.com"></a></li>
    	</ul>
    </div>
</body>
</html>